<div id="tittle">
	<h1>{{tittle}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>


<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum fermentum tortor in eleifend. Maecenas id dui rhoncus, feugiat arcu in, pharetra nulla. Aenean libero arcu, egestas at fermentum vel, imperdiet sit amet dolor. Maecenas laoreet sem sit amet commodo rhoncus. Pellentesque egestas dignissim aliquam. Ut consequat purus et euismod venenatis. Curabitur sed nulla nec purus porttitor tempus volutpat in magna. In sed sapien ut diam auctor ultrices. Praesent egestas accumsan congue. In ac urna tincidunt, convallis justo eget, consectetur purus. Ut tempus, quam eu tempus facilisis, velit sapien molestie eros, dignissim rhoncus elit felis a nisi. Nunc eleifend nibh id arcu commodo sodales. Maecenas ullamcorper a est id egestas. Etiam in accumsan lectus, ac consectetur velit. Sed non risus quis leo porta lobortis. Praesent gravida, orci id commodo tristique, lacus nibh condimentum dui, non placerat neque metus quis nisl.
	</p>
</article>

